.year_title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #12B112;
}

.year_title input{
    border: 2px solid #12B112;
    padding: .5rem 1rem;
    border-radius: 4rem;
}

.year_title input::placeholder{
    font-weight: bold;
    letter-spacing: .1rem;
}

.project_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,auto));
    gap: 2rem;
    grid-template-rows: minmax(100px,auto);
    margin-top: 2rem;
    padding: 1rem;
}

.project{
    box-shadow: 0px 5px 8px rgba(0, 0, 0, .1);
    text-align: center;
    text-transform: capitalize;
    padding: 1rem;
    transition: all .2s ease-in-out;
    cursor: pointer;
    
}
.project:hover{
    box-shadow: 0px 5px 8px #12B112;
}

.title{
    
}